<form action="<%=session_url%>" method="post">
  <label for="username">First name:</label><br>
  <input type="text" id="username" name="user[username]"><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="user[password]">

    <input type="submit" value="Sign In">
</form>